@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font: oblique bold 120% cursive;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #b030b0, #602080);
  -webkit-background-clip: text;
  color: transparent; }
  @media only screen and (max-width: 56.25em) {
    .heading {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading {
      font-size: 2.5rem; } }

.heading-secondary {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #777; }

.header {
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top {
  margin-top: 8rem !important; }

.u-margin-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer;
  outline: none; }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after, .btn:link:hover::after, .btn:visited:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus, .btn:link:active, .btn:link:focus, .btn:visited:active, .btn:visited:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }

.btn--1 {
  background-image: linear-gradient(to right bottom, rgba(187, 187, 187, 0.85), rgba(126, 124, 124, 0.85));
  color: #fff; }
  .btn--1::after {
    background-image: linear-gradient(to right bottom, rgba(187, 187, 187, 0.85), rgba(126, 124, 124, 0.85)); }

.btn--2 {
  background-image: linear-gradient(to right bottom, rgba(0, 180, 201, 0.85), rgba(0, 112, 126, 0.85));
  color: #fff; }
  .btn--2::after {
    background-image: linear-gradient(to right bottom, rgba(0, 180, 201, 0.85), rgba(0, 112, 126, 0.85)); }

.btn--3 {
  background-image: linear-gradient(to right bottom, rgba(38, 178, 0, 0.85), rgba(24, 112, 0, 0.85));
  color: #fff; }
  .btn--3::after {
    background-image: linear-gradient(to right bottom, rgba(38, 178, 0, 0.85), rgba(24, 112, 0, 0.85)); }

.btn--4 {
  background-image: linear-gradient(to right bottom, rgba(197, 0, 0, 0.85), rgba(135, 0, 0, 0.85));
  color: #fff; }
  .btn--4::after {
    background-image: linear-gradient(to right bottom, rgba(197, 0, 0, 0.85), rgba(135, 0, 0, 0.85)); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/background.jpg);
  height: 100vh;
  width: 100%; }
  .parallax__section {
    opacity: 0.75; }
  .parallax__header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; }
  .parallax__text {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all0 0.2s;
    line-height: 1; }
  .popup__close:hover {
    color: #eee; }
  .popup__main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%);
    transition: all 0.5s 0.2s; }
  .popup__left {
    width: 40%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media only screen and (max-width: 56.25em) {
      .popup__left {
        padding: 1rem 3rem; } }
  .popup__right {
    width: 60%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media only screen and (max-width: 56.25em) {
      .popup__right {
        padding: 1rem 3rem; } }
  .popup__img {
    display: block;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    transition: 0.5s; }
    .popup__img:hover {
      transform: scale(1.2); }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto; }
    @media only screen and (max-width: 56.25em) {
      .popup__text {
        column-count: 1;
        column-gap: 2rem; } }

.room-box {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  background-color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .room-box {
      height: auto; } }
  .room-box--1:hover {
    box-shadow: 0 2.5rem 4rem rgba(126, 124, 124, 0.5); }
  .room-box--2:hover {
    box-shadow: 0 2.5rem 4rem rgba(0, 112, 126, 0.5); }
  .room-box--3:hover {
    box-shadow: 0 2.5rem 4rem rgba(24, 112, 0, 0.5); }
  .room-box--4:hover {
    box-shadow: 0 2.5rem 4rem rgba(135, 0, 0, 0.5); }
  .room-box__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px; }
    .room-box__picture--1 {
      background-image: linear-gradient(to right bottom, #BBBBBB, #7E7C7C), url(../../img/whr.jpg); }
    .room-box__picture--2 {
      background-image: linear-gradient(to right bottom, #00B4C9, #00707E), url(../../img/blr2.jpg); }
    .room-box__picture--3 {
      background-image: linear-gradient(to right bottom, #26B200, #187000), url(../../img/grlr.jpg); }
    .room-box__picture--4 {
      background-image: linear-gradient(to right bottom, #C50000, #870000), url(../../img/redlr2.jpg); }
  .room-box__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .room-box__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .room-box__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(187, 187, 187, 0.85), rgba(126, 124, 124, 0.85)); }
    .room-box__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 180, 201, 0.85), rgba(0, 112, 126, 0.85)); }
    .room-box__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(38, 178, 0, 0.85), rgba(24, 112, 0, 0.85)); }
    .room-box__heading-span--4 {
      background-image: linear-gradient(to right bottom, rgba(197, 0, 0, 0.85), rgba(135, 0, 0, 0.85)); }
  .room-box__text {
    padding: 1rem; }
    .room-box__text ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .room-box__text ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .room-box__text ul li:not(:last-child) {
          border-bottom: 1px solid #777; }
  .room-box__button {
    text-align: center;
    padding-bottom: 3rem; }

.footer {
  background-color: #000;
  padding: 5rem 0rem;
  font-size: 1.2rem;
  color: #fff; }
  .footer__logo {
    text-align: center;
    margin-bottom: 5rem; }
  .footer__img {
    width: 15rem;
    height: auto; }
  .footer__info {
    border-top: 2px solid #fff;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__info {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__element {
    display: inline-block; }
    .footer__element:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s; }
  .footer__link:hover, .footer__link:active {
    color: #777;
    transform: scale(1.2); }
  .footer__text {
    border-top: 2px solid #fff;
    padding-top: 2rem;
    width: 65%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__text {
        width: 100%;
        text-align: center;
        float: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-1 {
    width: calc(1 * ((100% - (1 - 1) * 6rem) / 1) + (1 - 1) * 6rem); }
  .row .col-1-of-2 {
    width: calc(1 * ((100% - (2 - 1) * 6rem) / 2) + (1 - 1) * 6rem); }
  .row .col-1-of-3 {
    width: calc(1 * ((100% - (3 - 1) * 6rem) / 3) + (1 - 1) * 6rem); }
  .row .col-1-of-4 {
    width: calc(1 * ((100% - (4 - 1) * 6rem) / 4) + (1 - 1) * 6rem); }
  .row .col-1-of-5 {
    width: calc(1 * ((100% - (5 - 1) * 6rem) / 5) + (1 - 1) * 6rem); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (3 - 1) * 6rem) / 3) + (2 - 1) * 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (4 - 1) * 6rem) / 4) + (2 - 1) * 6rem); }
  .row .col-2-of-5 {
    width: calc(2 * ((100% - (5 - 1) * 6rem) / 5) + (2 - 1) * 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (4 - 1) * 6rem) / 4) + (3 - 1) * 6rem); }
  .row .col-3-of-5 {
    width: calc(3 * ((100% - (5 - 1) * 6rem) / 5) + (3 - 1) * 6rem); }
  .row .col-4-of-5 {
    width: calc(4 * ((100% - (5 - 1) * 6rem) / 5) + (4 - 1) * 6rem); }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }

.section-rooms {
  background-color: #eee;
  padding: 15rem 0 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-rooms {
      padding: 10rem 0 10rem 0; } }
