@mixin clearfix {
    &:after {
        // clearfix hack to avoid row has 0px width
        content: "";
        display: table;
        clear: both;
    }
}

@mixin colwidth {
    @for $size from 1 through $cols {
        @for $length from $size through $cols {
            @if $size !=$length or $size==1 {
                .col-#{$size}-of-#{$length} {
                    width: calc-col-width($size, $length);
                }
            }
        }
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}