.footer {
    background-color: $color-black;
    padding: 5rem 0rem;
    font-size: 1.2rem;
    color: $color-white;

    &__logo {
        text-align: center;
        margin-bottom: 5rem;
    }

    &__img {
        width: 15rem;
        height: auto;
    }

    &__info {
        border-top: 2px solid $color-white;
        padding-top: 2rem;
        display: inline-block;
        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }

    &__element {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
    
    &__link {
        &:link,
        &:visited {
            color: $color-white;
            background-color: $color-black;
            text-decoration: none;
            display: inline-block;
            transition: all 0.5s;
        }

        &:hover,
        &:active {
            color: $color-grey-dark;
            transform: scale(1.2)
        }
    }

    &__text{
        border-top: 2px solid $color-white;
        padding-top: 2rem;
        width: 65%;
        float: right;
        @include respond(tab-port) {
            width: 100%;
            text-align: center;
            float: none;
        }
    }
}