.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/background.jpg);
    height: 100vh;
    width: 100%;
    &__section{
        opacity: 0.75;
    }

    &__header {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    &__text{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        height: 100%;
    }
}