.room-box{
    background-color: rgba($color: $color-white, $alpha: 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;

    @include respond(tab-port) {
        padding: 2rem;
    }
    
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px; //added because clip-path property breaks overflow behaviour in old chrome versions
        border-top-right-radius: 3px;
    }
    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}