body {
    font: oblique bold 120% cursive;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;    
}

.heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-purple-light, $color-purple-dark); // background-color can not use gradients
    -webkit-background-clip: text; // clip background to the text
    color: transparent; // hide the text to show the backgroup clipped
    letter-spacing: 2px; // using px instead rem
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-secondary {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-grey-dark;
}

.header {
    font-size: $header-font-size;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-white;
}