.section-rooms {
    background-color: $color-white;
    padding: 20rem 0;
    transform: skewY(-7deg);
    margin-top: -10rem;

    &>* {
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}